.sectionLabel {
  font-weight: bold;
  width: auto;
  display: inline-block;
  padding: 5px;
}

.options-switch {
  margin-bottom: 30px;
  margin-top: 10px;
}

.comment-container {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 4px;
  color: #444;
  background: #fafafa;
  margin-bottom: 3px;
  font-size: 12px;
}